version: '3.8'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crypto-frontend
    restart: unless-stopped
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BACKEND_URL=http://host.docker.internal:3000
      - NEXT_PUBLIC_API_BASE_URL=http://host.docker.internal:3000
      - NEXT_PUBLIC_WS_URL=http://host.docker.internal:3000
      - NEXT_PUBLIC_API_URL=http://host.docker.internal:3000
    networks:
      - crypto-network

networks:
  crypto-network:
    driver: bridge
